@import 'options.css';


/*
* Base Button Style
*
* The default values for the .button class
*/
.btn {
  color: var(--ubtn-font-color);
  background-color: var(--ubtn-bgcolor);
  border-color: var(--ubtn-bgcolor);
  font-weight: var(--ubtn-font-weight);
  font-size: var(--ubtn-font-size);
  font-family: var(--ubtn-font-family);
  text-decoration: none;
  text-align: center;
  line-height: var(--ubtn-line-height);
  height: var(--ubtn-height);
  padding: 0 var(--ubtn-height);
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;

  transition-property: all;
  transition-duration:.3s;


  &:visited {
    color: var(--ubtn-font-color);
  }

  &:hover,
  &:focus {
    opacity: .7;
    text-decoration: none;
    outline: none;
  }

  &:active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
    text-decoration: none;
    transition-duration: 0s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    background: color-mod(var(--ubtn-bgcolor) saturation(-10%));
    border-color: color-mod(var(--ubtn-bgcolor) shade(12%));
    color: color-mod(var(--ubtn-bgcolor) shade(12%));
  }

  /*
  * Disabled State
  *
  * The disabled state uses the class .disabled, is-disabled,
  * and the form attribute disabled="disabled".
  * The use of !important is only added because this is a state
  * that must be applied to all buttons when in a disabled state.
  */
  &.disabled,
  &.is-disabled,
  &:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1) !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    box-shadow: none !important;
    opacity:.8 !important;
  }
}

.btn-primary {
  background-color: var(--ubtn-primary);
  border-color: var(--ubtn-primary);
  color: var(--ubtn-primary-color);
  &:visited {
    color: var(--ubtn-primary-color);
  }

  &:hover,
  &:focus {
    background-color: color-mod(var(--ubtn-primary) tint(10%));
    border-color: color-mod(var(--ubtn-primary) tint(10%));
  }

  &:active {
    background-color: color-mod(var(--ubtn-primary) saturation(-10%));
    border-color: color-mod(var(--ubtn-primary) saturation(-10%));
    color: color-mod(var(--ubtn-primary) tint(10%));
  }
}

.btn-action {
  background-color: var(--ubtn-action);
  border: 1px solid var(--ubtn-action-color);
  color: var(--ubtn-action-color);
  &:visited {
    color: var(--ubtn-action-color);
  }

  &:hover,
  &:focus {
    background-color: color-mod(var(--ubtn-action) tint(10%));
    border-color: color-mod(var(--ubtn-action) tint(10%));
  }

  &:active {
    background-color: color-mod(var(--ubtn-action) saturation(-10%));
    border-color: color-mod(var(--ubtn-action) saturation(-10%));
    color: color-mod(var(--ubtn-action) tint(10%));
  }
}

.btn-highlight {
  background-color: var(--ubtn-highlight);
  border: 1px solid var(--ubtn-highlight-color);
  color: var(--ubtn-highlight-color);
  &:visited {
    color: var(--ubtn-highlight-color);
  }

  &:hover,
  &:focus {
    background-color: color-mod(var(--ubtn-highlight) tint(10%));
    border-color: color-mod(var(--ubtn-highlight) tint(10%));
  }

  &:active {
    background-color: color-mod(var(--ubtn-highlight) saturation(-10%));
    border-color: color-mod(var(--ubtn-highlight) saturation(-10%));
    color: color-mod(var(--ubtn-highlight) tint(10%));
  }
}

.btn-warning {
  background-color: var(--ubtn-warning);
  border: 1px solid var(--ubtn-warning);
  color: var(--ubtn-warning-color);
  &:visited {
    color: var(--ubtn-warning-color);
  }

  &:hover,
  &:focus {
    background-color: color-mod(var(--ubtn-warning) tint(10%));
    border-color: color-mod(var(--ubtn-warning) tint(10%));
  }

  &:active {
    background-color: color-mod(var(--ubtn-warning) saturation(-10%));
    border-color: color-mod(var(--ubtn-warning) saturation(-10%));
    color: color-mod(var(--ubtn-warning) tint(10%));
  }
}

.btn-caution {
  background-color: var(--ubtn-caution);
  border: 1px solid var(--ubtn-caution-color);
  color: var(--ubtn-caution-color);
  &:visited {
    color: var(--ubtn-caution-color);
  }

  &:hover,
  &:focus {
    background-color: color-mod(var(--ubtn-caution) tint(10%));
    border-color: color-mod(var(--ubtn-caution) tint(10%));
  }

  &:active {
    background-color: color-mod(var(--ubtn-caution) saturation(-10%));
    border-color: color-mod(var(--ubtn-caution) saturation(-10%));
    color: color-mod(var(--ubtn-caution) tint(10%));
  }
}

/*
* Base Button Tyography
*
*/
.btn-uppercase {
  text-transform: uppercase;
}
.btn-lowercase {
  text-transform: lowercase;
}
.btn-capitalize {
  text-transform: capitalize;
}
.btn-small-caps {
  font-variant: small-caps;
}

.btn-icon-txt-large {
  font-size: 36px !important;
}

/*
* Base padding
*
*/
.btn-width-small {
  padding: 0 10px !important;
}
