:root {
  --ubtn-bgcolor: #EEE;
  --ubtn-bgcolor-lightened: #ffffff; /* 5% */
  --ubtn-bgcolor-darkened: #dcdcdc; /* 7% */
  --ubtn-font-color: #666;
  --ubtn-font-weight: 300;
  --ubtn-font-size: 16px;
  --ubtn-height: 40px;
  --ubtn-line-height: 38px;
  --ubtn-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;
  --ubtn-primary: #1b9af7;
  --ubtn-primary-lightened: #34a5f8; /* 5% */
  --ubtn-primary-darkened: #0888e6; /* 7% */
  --ubtn-primary-color: #ffffff;
  --ubtn-secondary: transparent;
  --ubtn-secondary-color: #1b9af7;
  --ubtn-action: #a5de37;
  --ubtn-action-lightened: #afe24d; /* 5% */
  --ubtn-action-darkened: #94cf22; /* 7% */
  --ubtn-action-color: #ffffff;
  --ubtn-highlight: #feae1b;
  --ubtn-highlight-lightened: #feb734; /* 5% */
  --ubtn-highlight-darkened: #f49f01; /* 7% */
  --ubtn-highlight-color: #ffffff;
  --ubtn-caution: #ff4351;
  --ubtn-caution-lightened: #ff5d69; /* 5% */
  --ubtn-caution-darkened: #f49f01; /* 7% */
  --ubtn-caution-color: #ffffff;
  --ubtn-warning: #e7e70d;
  --ubtn-warning-lightened: #f2f21b; /* 5% */
  --ubtn-warning-darkened: #cfcf0c; /* 5% */
  --ubtn-warning-color: #000000
}
