@import 'options.css';
@import 'base.css';
@import 'layout.css';
@import 'types/shapes.css';
@import 'types/sizes.css';
@import 'types/raised.css';

.button {
  composes: btn from './base.css';
}

.primary {
  composes: btn-primary from './base.css';
}

.secondary {
  composes: btn-secondary from './base.css';
}

.action {
  composes: btn-action from './base.css';
}

.highlight {
  composes: btn-highlight from './base.css';
}

.warning {
  composes: btn-warning from './base.css';
}

.caution {
  composes: btn-caution from './base.css';
}

.block {
  composes: btn-block, btn-stacked from './layout.css';
}

.rounded {
  composes: btn-rounded from './types/shapes.css';
}


.pill {
  composes: btn-pill from './types/shapes.css';
}

.giant {
  composes: btn-giant from './types/sizes.css';
}

.jumbo {
  composes: btn-jumbo from './types/sizes.css';
}

.large {
  composes: btn-large from './types/sizes.css';
}

.normal {
  composes: btn-normal from './types/sizes.css';
}

.small {
  composes: btn-small from './types/sizes.css';
}

.tiny {
  composes: btn-tiny from './types/sizes.css';
}

.raised {
  composes: btn-raised from './types/raised.css';
}
